.search__active-field{

    display: inline-block;
    background-image: url("../../../images/ico-magnifier.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    transition: all 0.2s ease;

    &:hover{
        background-color: green;
        border-bottom: 4px solid red;
        transition: all 0.2s ease;
    }
}

.search{
    position: relative;

    &__field-holder{
        opacity: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        top: 0;
        right: 0;
        transition: all 0.2s ease;
    }

    &__field-holder--active{
        width: 100%;
		max-width: 1275px;
		margin: auto;
        height: 65px;
        opacity: 1;
        background: $tert-light-brand-color;
        padding: 14px 20px ;
        // position: absolute;
		position: relative;
        display: block;
		top: 12px;
        z-index: 100;
        transition: all 0.2s ease;
        box-shadow: 0 8px 8px -8px brown;
		border-bottom-left-radius: 30px 30px;

        // @include media('<tablet') {
        //     
        // }
    }

    .default-button{
        height: 40px;
        padding-left: 30px;
        padding-right: 30px;
        display: block;
        float: right;
        border: none;
        line-height: 1;
        box-sizing: border-box;
        border-bottom: 3px solid gold;
        font-size: $m-text;
       
        &:hover{
            border-bottom: 2px solid purple;
        }
    }
}

.search__close{
    background-image: url("../../../images/ico-close.png");
}