.header {
    width: 100%;
    min-height: 60px;
    top: 0;
    background: $prim-brand-color;
    position: fixed;
    z-index: 10;
    transition:  box-shadow .2s ease-in-out;

    &__fixed-header {
        box-shadow: 0px -1px 6px 0px $tert-brand-color;
    }
}

